
.h1 {
  top: 100px;
  position: absolute;
}

.discover-holder {
  background-color: #f0f0f5;
  width: 100vw;
  height: 100%;
}

.discover-top-div {
  position: absolute;
  top: 54px;
  width: 100vw;
  height: 125px;
  background-color: white;
  border-bottom: 1px lightgrey solid;
  padding-left: 60px;
}

.discover-top-div h1 {
  font-family: sans-serif;
  margin-bottom: 10px;
  color: #2D2D2D;
  font-size: 36px;
}

.discover-top-div p {
  margin-top: 0px;
  font-family: sans-serif;
  color: #5B5B5B;
  font-size: 18px;
}

.discover-picture-list {
  margin: auto;
  padding: 0;
}

.discover-picture-list li{
  list-style: none;
  margin: 0px .60vw .0px 0px;
  border-bottom: solid #f0f0f5 .60vw;
  position: relative;
    height: 22.3vw;
}

.discover-list-holder {
    margin: 0 auto;
    width: 86vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 180px;
    border-top: #f0f0f5 solid 20px
}

.discover-photo {
  /* height: 300px;
  width: 400px; */
  width: 27.4vw;
  height: 22.3vw;
  /* transition-property: filter;
  transition-duration: .5s; */
}

.discover-photo:hover {
  /* filter: drop-shadow(8px 8px 8px black); */
  cursor: pointer;
  /* transition-property: filter;
  transition-duration: .5s; */
}

/* .user-info {
  width: 27.4vw;
  height: 22.3vw;
  background-color: red;
  z-index: 50;
  position: absolute;
  top: 0%;
  left: 0%;
} */

.user-info  {
  z-index: 1;
  width: 27.4vw;
  height: 70px;
  /* background-color:grey; */
  position: relative;
  top: -75px;
  opacity: 0;
  background: linear-gradient(rgba(0,0,0,0),black);
  transition: .5s ease
}



.discover-username {
    font-family: Rajdhani;
    color: white;
    position: relative;
    bottom: 23px;
    margin-left: 10px;
}

.discover-profile-icon {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: relative;
  margin-top: 10px;
  margin-bottom: 7px;
  margin-left: 15px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);

}

.discover-picture-list li:hover .user-info {
  display: block;
  opacity: 1;
}
