.feed-container {
  background-color: #f0f0f5;
  width: 100vw;
  height: 100%;
}

.feed-photo {
  /* height: 600px;
  width: 800px; */
  height: 40.6vw;
  width: 54.5vw;
}

.feed-photo:hover  {
  cursor: zoom-in;
}

.photo-holder {
  /* height: 740px;
  width: 800px; */
  height: 50.3vw;
  width: 54.5vw;
  background-color: white;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 1px solid lightgrey;
}

.photo-holder li {
  list-style-type: none;
  /* top: 70px; */
  position: relative;
}

.feed-list {
  padding: 0;
  margin-top: 50px;
  border-top: #f0f0f5 solid 20px
}

.feed-profile-icon {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: relative;
  margin-top: 10px;
  margin-bottom: 7px;
  margin-left: 15px;
}

.feed-username {
  font-weight: 400;
  font-size: 17px;
  font-weight: bolder;
  color: #5f5754;
  position: relative;
  bottom: 23px;
  margin-left: 10px;
}



.feed-title {
  font-size: 22px;
  font-family: Rajdhani;
  color: #5f5754;
  margin-top: 18px;
  margin-left: 15px;
  position: absolute;

}
