.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 30;
}

.modal-background2 {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 200;
}

.modal-child {
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 550px;
  z-index: 50;
}

.modal-child-edit {
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 387px;
  z-index: 50;
}

.modal-child-show {
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 800px;
  height: 600px; */
  width: 72.9vw;
  height: 45.1vw;
}

.modal-child-user {
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 470px;
  z-index: 50;
}

.modal-child-notify {
  position: absolute;
  background-color: white;
  right: 0%;
  top: 0%;
  margin-top: 57px;
  margin-right: 10px;
  border: 1px solid rgba(34,34,34,0.1);
  /* transform: translate(-50%, -50%); */
  width: 356px;
}
