.nav_bar {
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.nav_bar li {
  list-style: none;
}

.left_nav {
  padding: 0px;
  margin: 15px 0px 0px 50px;
}

.right_nav {
  width: 160px;
  display: flex;
  position: relative;
  justify-content: space-between;
  margin: 15px 50px 0px 0px;
}

.right_nav li{
  margin: auto 0px
}

.logo{
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-family: Rajdhani;
}

.logo:hover {
  cursor: default;
}

.nav_button{
  background-color: #00aaff;
  border-radius: 30px;
  color: white;
  height: 30px;
  width: 90px;
  font-size: 14px;
  border-width: 0px
}

.nav_login {
  color: white;
  text-decoration: none;
  vertical-align: center;
  font-size: 16px
}

.nav_button:hover {
  background-color: #6FB7FE;
  cursor: pointer;
}

/* this is for the login nav bar */

.session_bar {
  width: 100%;
  justify-content: space-between;
  display: flex;
  background-color: white;
  border-bottom: 1px lightgrey solid;
  height: 53px;
  position: fixed;
  top: 0px;
  z-index: 99;
  /* overflow: hidden; */
}



.session_bar ul{
  margin-top: 0px;

}

.session_bar li {
  list-style: none
}

.session_container {
  background-color: #f0f0f5;
  width: 100vw;
  height: 100vh;
}

.session_logo {
  color: black;
  text-decoration: none;
  font-size: 30px;
  font-family: Rajdhani;
  z-index: 20;
}

.session_logo:hover {
  cursor: pointer;
}

.login_signup {
  background-color: #34bf49;
  color: white;
  height: 53px;
  width: 90px;
  font-size: 14px;
  border-width: 0px;
  z-index: 20;
}

.login_signup:hover {
  background-color:  #41cb56;
  cursor: pointer;
}

.login_left {
  padding: 10px;
  margin: 0px 0px 0px 45px;
}
/* nav bar css for feed page */

.feed_logo {
  color: black;
  text-decoration: none;
  font-size: 30px;
  font-family: Rajdhani;
  z-index: 20;
}

.feed_logo:hover {
  cursor: default;
}

.upload {
  background-color: #34bf49;
  color: white;
  height: 53px;
  width: 110px;
  /* font-size: 14px; */
  border-width: 0px;
  z-index: 99;
  justify-content: space-between;
  padding: 0;
    font-size: 20px;
}

.icon_upload {
  margin-right: 7px;
}

.font_overide {
  font-size: 14px;
}

.upload:hover {
  background-color:  #41cb56;
  cursor: pointer;
}

.profile-icon {
  border-radius: 50%;
  /* background-color: grey; */
  height: 25px;
  width: 25px;
  position: relative;
}
/* had to user css friends phase2 for help with the hamburger menu */
.side-holder:hover .profile-list {
  display: block
}

.profile-list {
  display: none;
position: absolute;
left: 10px;
font-size: 14px;
white-space: nowrap;
background: #fff;
overflow: hidden;
padding: 0px;
top: 40px;
}

.profile-list > li {
  width: 80px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;

}
.profile-link {
text-decoration: none;
color: black;
}

.profile-link:hover {
  color: blue;
  cursor: pointer;
}

.profile-list > li:hover {
  color: blue;
  cursor: pointer;
}

/* nav bar styling for profile page */
.profile_logo {
  color: black;
  text-decoration: none;
  font-size: 30px;
  font-family: Rajdhani;
  z-index: 20;
}

.profile_logo:hover {
  cursor: pointer;
}
