.profile-holder {
  background-color: #f0f0f5;
  width: 100vw;
  height: 100vh;
}

.profile-photo {
  height: 258px;
  width: 300px
}

.picture-list {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  margin: auto;
}

.picture-list li {
  list-style: none;
  margin: 0px 5px 5px 0px;
}
