.profile-holder {
  background-color: #f0f0f5;
  width: 100vw;
  height: 100%;
}



.profile-photo {
  /* height: 300px;
  width: 400px; */
  width: 20.8vw;
  height: 16.9vw;
  transition-property: filter;
  transition-duration: .5s;
}

.profile-photo:hover {
  filter: drop-shadow(8px 8px 8px black);
  cursor: pointer;
  transition-property: filter;
  transition-duration: .5s;
}

.picture-list {

  margin: auto;
  padding: 0;
}

.list-holder {
    margin: 0 auto;
    width: 86vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.picture-list li {
  list-style: none;
  margin: 0px .60vw .35vw 0px;
  position: relative:
}

.following {
  background-color: #34bf49;
  color: white;
  border-radius: 10%;
  font-size: 14px;
  width: 78px;
  height: 28px;
  /* left: 100%;
  top: 54%; */
  top: 81vh;
  right: 25px;
  position: absolute;

}

.following:hover span {
  display: none;
}

.following:hover:before {
  content: "Unfollow"
}



.following:hover {
  background-color: #ff3333;
  cursor: pointer;
}

.follow {
  background-color: #00aaff;
  content: "Follow";
  color: white;
  font-size: 14px;
  width: 78px;
  height: 28px;
  top: 81vh;
  right: 25px;
  position: absolute;

}

.follow:hover {
  background-color: #6FB7FE;
  content: "Follow";
  cursor: pointer;
}

.cover-photo {
  width: 100vw;
  height: 80vh;
}

.profile-pic {
  border-radius: 50%;
  height: 100px;
  width: 7%;
  z-index 50;
  border: 2px solid white;
  position: absolute;
  left: 46.2%;
}

.profile-image-holder {
  position: relative;
  width: 90vw;
  height: 100px;
  top: -50px;
  margin: auto;
}

/* .button-holder {
  width: 100vw;
  height: 185px;
   position: relative;
} */

.profile-title {
  text-align: center;
  font-size: 30px;
  color: #5f5754;
  font-family: Rajdhani;
  margin: 0px 0px 15px 0px;
}
.profile-description {
  text-align: center;
  font-size: 14px;
  color: #5f5754;
  margin: 0px 0px 15px 0px;

}
.profile-follow {
  text-align: center;
  font-size: 14px;
  color: #b9c1c7;
  margin: 20px auto;
}

.number {
  font-weight: bolder;
  margin-left: 10px;
}
