.profile-holder {
  background-color: #f0f0f5;
  width: 100vw;
  height: 100%;
}

.profile-holder2 {
  background-color: #f0f0f5;
  width: 100vw;
  height: 100vh;
}


.profile-photo {
  height: 258px;
  width: 300px;
  transition-property: filter;
  transition-duration: .5s;
}

.profile-photo:hover {
  filter: drop-shadow(8px 8px 8px black);
  cursor: pointer;
  transition-property: filter;
  transition-duration: .5s;
}

.picture-list {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  margin: auto;
}

.picture-list li {
  list-style: none;
  margin: 0px 5px 5px 0px;
}

.following {
  background-color: #34bf49;
  color: white;
  border-radius: 10%;
  font-size: 14px;
  width: 78px;
  height: 28px;
}

.following:hover span {
  display: none;
}

.following:hover:before {
  content: "Unfollow"
}



.following:hover {
  background-color: #ff3333;
  cursor: pointer;
}

.follow {
  background-color: #00aaff;
  content: "Follow";
  color: white;
  font-size: 14px;
  width: 78px;
  height: 28px;
}

.follow:hover {
  background-color: #6FB7FE;
  content: "Follow";
  cursor: pointer;
}
