.profile-holder {
  background-color: #f0f0f5;
  width: 100vw;
  height: 100%;
}

.profile-holder2 {
  background-color: #f0f0f5;
  width: 100vw;
  height: 100vh;
}



.profile-photo {
  /* height: 300px;
  width: 400px; */
  width: 20.8vw;
  height: 16.9vw;
  transition-property: filter;
  transition-duration: .5s;
  /* transition: .35s ease; */
}

.profile-photo:hover {
  filter: drop-shadow(4px 4px 4px black);
  cursor: pointer;
  transition-property: filter;
  transition-duration: .5s;
}

.picture-list {

  margin: auto;
  padding: 0;
}

.picture-list li {
  list-style: none;
  margin: 0px .60vw .35vw 0px;
  position: relative;
}

.list-holder {
    margin: 0 auto;
    width: 86vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}





.following {
  background-color: #34bf49;
  color: white;
  border-radius: 10%;
  font-size: 14px;
  width: 78px;
  height: 28px;
  /* left: 100%;
  top: 54%; */
  top: 81vh;
  right: 25px;
  position: absolute;

}

.following2 {
  background-color: #34bf49;
  color: white;
  border-radius: 10%;
  font-size: 14px;
  width: 78px;
  height: 28px;
  /* left: 100%;
  top: 54%; */
  left: 93%;
  top: 170px;
  position: relative;
}

.following:hover span {
  display: none;
}

.following2:hover span {
  display: none;
}

.following:hover:before {
  content: "Unfollow"
}

.following2:hover:before {
  content: "Unfollow"
}



.following:hover {
  background-color: #ff3333;
  cursor: pointer;
}

.following2:hover {
  background-color: #ff3333;
  cursor: pointer;
}

.follow {
  background-color: #00aaff;
  content: "Follow";
  color: white;
  font-size: 14px;
  width: 78px;
  height: 28px;
  top: 81vh;
  right: 25px;
  position: absolute;

}
.follow2 {
  background-color: #00aaff;
  content: "Follow";
  color: white;
  font-size: 14px;
  width: 78px;
  height: 28px;
  left: 93%;
  top: 170px;
  position: relative;
}

.follow:hover {
  background-color: #6FB7FE;
  content: "Follow";
  cursor: pointer;
}

.follow2:hover {
  background-color: #6FB7FE;
  content: "Follow";
  cursor: pointer;
}

.cover-photo {

  /*background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%; */
  overflow: hidden;
  justify-content: center;
  align-items: center;
  width: 100vw;
   height: 80vh;
   display: flex;
  .inside-cover {
    /* flex-shrink: 0; */
    max-width: 100%;
  }
}

.cover-div {
  width: 100vw;
  height: 130px;
  background-color: #f0f0f5;
  border: 1px solid white;
}

.profile-pic {
  border-radius: 50%;
  height: 100px;
  width: 7%;
  border: 2px solid white;
  position: absolute;
  left: 46.2%;
}

.profile-image-holder {
  position: relative;
  width: 90vw;
  height: 100px;
  top: -50px;
  margin: auto;
}
/* .button-holder {
  width: 100vw;
  height: 185px;
   position: relative;
} */

.profile-title {
  text-align: center;
  font-size: 30px;
  color: #5f5754;
  font-family: Rajdhani;
  margin: 0px 0px 15px 0px;
}
.profile-description {
  text-align: center;
  font-size: 14px;
  color: #5f5754;
  margin: 0px 0px 15px 0px;

}
.profile-follow {
  text-align: center;
  font-size: 14px;
  color: #b9c1c7;
  margin: 20px auto;
}

.number {
  font-weight: bolder;
  margin-left: 10px;
}

.profile-footer {
  height: 54px;
  width: 100vw;
  bottom: 0;
  left: 0;
  position: relative;
  background-color: #f0f0f5;
}
