.show-image{
  width: 700px;
  height: 600px;
}

.default-cursor:hover {
  cursor: default;
}

.show-title {
  font-family: Rajdhani;
  text-align: center;
  top: 10px;
  position: relative;
}

.show-link {
  text-decoration: none;
}

.show-username {
  margin-left: 5px
}
.show-div {
  width: 900px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

.show-div div {

}

.image-placeholder{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: grey;
  float: left;
  margin-left: 10px

}

.show-child-1 {

}

.show-child-2 {
  position: relative;
  width: 200px;
  height: 600px;
  /* text-align: center; */
}
.button-holder{
  align-items: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.button1 {
  background-color: #1a1aff;
  color: white;
  height: 40px;
  width: 100px;
  font-size: 16px;
  border: none;
}

.button1:hover {
  /* background-color:#4d4dff; */
  background-color: white;
  color: #1a1aff;
  cursor: pointer;
  border: 2px solid #1a1aff;
}
.button2{
  background-color: #e60000;
  color: white;
  height: 40px;
  width: 100px;
  font-size: 16px;
  border: none;
}

.button2:hover {
  /* background-color: #ff4d4d; */
  background-color: white;
  color: #e60000;
  cursor: pointer;
  border: 2px solid #e60000;
}

.show-following {
  margin: 5px 0px 0px 50px;
  position: absolute;
  background-color: #34bf49;
  color: white;
  border-radius: 10%;
  font-size: 11px;
  width: 69px;
  height: 22px;
  display: block;
}

.show-following:hover span {
  display: none;
}

.show-following:hover:before {
  content: "Unfollow"
}



.show-following:hover {
  background-color: #ff3333;
  cursor: pointer;
}

.show-follow {
  margin: 5px 0px 0px 50px;
  position: absolute;
  background-color: #00aaff;
  content: "Follow";
  color: white;
  font-size: 11px;
  width: 69px;
  height: 22px;
  display: block;

}

.show-follow:hover {
  background-color: #6FB7FE;
  content: "Follow";
  cursor: pointer;
}
